<launch>

    <arg name="camera1_topic" value="/sensor/camera" />
    <arg name="camera2_topic" value="/sensor/camera2" />

    <!--============== Launch the first camera node ==============-->
    <node name="camera_publisher" pkg="camera_rospkg" type="camera_publisher" output="screen">
        <param name="input" type="string" value="/dev/video0" />
        <param name="topic_name" type="string" value="$(arg camera1_topic)" />
        <param name="is_wsl2" type="bool" value="false" />
        <param name="is_display" type="bool" value="false" />
        <param name="frame_rate" type="int" value="20" />
        <!-- <param name="mp4_output_folder" type="string" value="$(find camera_rospkg)/recordings" /> -->
    </node>
    <!--============ End of first camera node ================-->
    <node name="camera_publisher2" pkg="camera_rospkg" type="camera_publisher" output="screen">
	<param name="input" type="string" value="/dev/video1" />
        <param name="topic_name" type="string" value="$(arg camera2_topic)" />
        <param name="is_wsl2" type="bool" value="false" />
        <param name="is_display" type="bool" value="false" />
        <param name="frame_rate" type="int" value="20" />
    </node>
    <!-- Launch RViz with a specific configuration file -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_rospkg)/rviz/dual_cam_compressed.rviz" output="screen" />

</launch>
