<launch>

    <node name="camera_front" pkg="camera_rospkg" type="camera_publisher" output="screen">
        <param name="input" type="string" value="/dev/video4" />
        <param name="topic_name" type="string" value="/sensor/camera" />
        <param name="is_display" type="bool" value="false" />
        <param name="frame_rate" type="int" value="15" />
        <param name="calibration_yaml_path" type="string" value="$(find camera_rospkg)/calibration_yaml/dwe.yaml" />
        <param name="mp4_output_folder" type="string" value="$(find bt_planner)/mp4s/" />
        <param name="default_enabled" type="bool" value="true" />
    </node>

    <node name="camera_arm" pkg="camera_rospkg" type="camera_publisher" output="screen">
        <param name="input" type="string" value="/dev/video0" />
        <param name="topic_name" type="string" value="/sensor/camera" />
        <param name="is_display" type="bool" value="false" />
        <param name="frame_rate" type="int" value="15" />
        <param name="calibration_yaml_path" type="string" value="$(find camera_rospkg)/calibration_yaml/dwe.yaml" />
        <param name="mp4_output_folder" type="string" value="$(find bt_planner)/mp4s/" />
        <param name="default_enabled" type="bool" value="false" />
    </node>

</launch>
