<launch>

    <arg name="camera1_topic" default="/sensor/camera" />
    <arg name="camera2_topic" default="/sensor/camera2" />

    <node name="camera_publisher" pkg="camera_rospkg" type="camera_publisher" output="screen">
        <!-- <param name="input" type="string" value="$(find camera_rospkg)/recordings/dwecam/arm_camera.mp4" /> -->
        <param name="input" type="string" value="/dev/video0" />
        <param name="topic_name" type="string" value="$(arg camera1_topic)" />
        <param name="is_wsl2" type="bool" value="false" />
        <param name="is_display" type="bool" value="false" />
        <param name="frame_rate" type="int" value="15" />
        <!-- <param name="whitebalance_temperature" type="int" value="15" /> -->
        <param name="calibration_yaml_path" type="string" value="$(find camera_rospkg)/calibration_yaml/dwe.yaml" />
        <param name="mp4_output_folder" type="string" value="$(find camera_rospkg)/recordings/dwecam/" />
    </node>

    <!-- <node name="camera_publisher2" pkg="camera_rospkg" type="camera_publisher" output="screen">
        <param name="input" type="string" value="/dev/video1" />
        <param name="topic_name" type="string" value="$(arg camera2_topic)" />
        <param name="is_wsl2" type="bool" value="false" />
        <param name="is_display" type="bool" value="false" />
        <param name="frame_rate" type="int" value="15" /> -->
        <!-- <param name="whitebalance_temperature" type="int" value="5" /> -->
        <!-- <param name="calibration_yaml_path" type="string" value="$(find camera_rospkg)/calibration_yaml/dwe.yaml" /> -->
        <!-- <param name="mp4_output_folder" type="string" value="$(find camera_rospkg)/recordings/arducam/" /> -->
	<!-- </node> -->

</launch>
